html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  /* background-color: #18191a; */
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #F0F2F5;
}
